html
  head
    title='Hello All'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Students!!!
        p Click the button below to head over to our website...
        p 
          a.btn.btn-primary(href="https://www.automationfactory.in") website
        p